.lead {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 148px repeat(2, 1fr) 148px;
  max-width: 1280px;
  margin: 0 auto;
  justify-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .lead {
    grid-template-columns: repeat(2, minmax(calc(928px/2), calc(984px/2)));
    padding: 0 48px;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .lead {
    grid-template-columns: repeat(2, minmax(calc(767px/2), calc(928px/2)));
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .lead {
    grid-template-columns: repeat(2, minmax(calc(320px/2), calc(767px/2)));
  }
}

