.places__website-link {
  grid-column: 3/4;
  grid-row: 3/4;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
  align-self: end;
}
@media screen and (max-width: 767px) {
  .places__website-link {
    grid-column: 1/2;
    align-self: start;
    padding: 0 16px 32px;
  }
}