.cover__subtitle {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  max-width: 360px;
  max-height: 66px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 429px 412px 245px;
}
@media screen and (max-width: 1280px) {
  .cover__subtitle {
    margin: 379px 332px 195px;
  }
}
@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 299px 204px 115px;
  }
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 119px 16px 33px;
    font-size: 14px;
    line-height: 16px;
  }
}