.intro__text {
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  max-width: 690px;
  grid-row: 2;
  grid-column: 3/5;
  padding-bottom: 33px;
}

@media screen and (max-width: 1280px) {
  .intro__text {
    grid-column: 1/3;
    
  }
}
@media screen and (max-width: 1024px) {
  .intro__text {
    max-width: 720px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .intro__text {
    padding-bottom: 34px;
  }
}