.intro {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 148px repeat(3, max-content) 148px;
  overflow: hidden;
}
@media screen and (max-width: 1280px) {
  .intro {
    grid-template-columns: repeat(2, minmax(calc(928px/2), calc(984px/2)));
    padding: 0 48px;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .intro {
    grid-template-columns: repeat(2, minmax(calc(767px/2), calc(928px/2)));
    padding: 0 24px;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    grid-template-columns: repeat(2, minmax(calc(320px/2), calc(767px/2)));
  }
}