.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  grid-column: 3/5;
  padding-top: 92px;
  padding-bottom: 40px;
}
@media screen and (max-width: 1280px) {
  .intro__title {
    grid-column: 1/3;
    
  }
}
@media screen and (max-width: 1024px) {
  .intro__title {
    padding-top: 88px;
    padding-left: 24px;
    
  }
}
@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    padding: 64px 16px 40px;
    max-width: 288px;
  }
}